html {
  font-size: 14px;
}

table {
  background: lightblue;
  margin-top: 10px;
  margin-bottom: 10px;
}

fieldset {
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

input {
  border: 0px;
  text-align: right;
  font-size: 14px;
}

input:disabled {
  color: blue;
  background: transparent;
}

th {
  text-align: left;
}

td.value {
  text-align: right;
}

select.displayonly {
  appearance: none;
  background: transparent;
  border: none;
  color: blue;
  font-size: 14px;
  text-align: right;
}

.largefont {
  font-size: 20px;
}