Source: gaeguli
Priority: optional
Maintainer: Jakub Adam <jakub.adam@collabora.com>
Build-Depends: debhelper (>= 10~),
  meson,
  libgstreamer1.0-dev,
  libgstreamer-plugins-bad1.0-dev,
  libsrt-dev (>= 1.4.1~),
# Dependencies to run the automated tests
  gstreamer1.0-plugins-good,
  gstreamer1.0-plugins-bad,
  gstreamer1.0-plugins-ugly
Standards-Version: 4.2.1
Section: libs
Homepage: https://github.com/hwangsaeul/gaeguli
Vcs-Browser: https://github.com/hwangsaeul/gaeguli
Vcs-Git: https://github.com/hwangsaeul/gaeguli.git

Package: libgaeguli1
Architecture: any
Depends:
 gstreamer1.0-plugins-good, gstreamer1.0-plugins-bad, gstreamer1.0-plugins-ugly,
 ${shlibs:Depends}, ${misc:Depends}
Description: Ultra-low latency SRT streamer
 Gæguli is an SRT streamer designed for edge devices that require
 strong security and ultra-low latency.

Package: libgaeguli-dev
Section: libdevel
Architecture: any
Depends: libgaeguli1 (= ${binary:Version}),
  libsrt-dev (>= 1.4.1~), libgstreamer-plugins-bad1.0-dev,
  ${misc:Depends}
Description: Ultra-low latency SRT streamer
 Gæguli is an SRT streamer designed for edge devices that require
 strong security and ultra-low latency.
 .
 This package contains development files for gaeguli.

Package: gaeguli-tools
Architecture: any
Section: utils
Depends: libgaeguli1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Ultra-low latency SRT streamer
 Gæguli is an SRT streamer designed for edge devices that require
 strong security and ultra-low latency.
