Source: gaeguli
Priority: optional
Maintainer: Jakub Adam <jakub.adam@collabora.com>
Build-Depends:
 debhelper (>= 10~),
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-good,
 gstreamer1.0-plugins-ugly,
 libgstreamer-plugins-bad1.0-dev,
 libgstreamer1.0-dev,
 libjson-glib-dev,
 libnl-route-3-dev,
 libsoup2.4-dev,
 libsrt-dev (>= 1.4.1~) | libsrt-gnutls-dev | libsrt-openssl-dev,
 meson,
Standards-Version: 4.2.1
Section: libs
Homepage: https://github.com/hwangsaeul/gaeguli
Vcs-Browser: https://github.com/hwangsaeul/gaeguli
Vcs-Git: https://github.com/hwangsaeul/gaeguli.git

Package: gaeguli-adaptor-demo
Architecture: any
Depends:
 libgaeguli2 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Network adaptive streaming demo
 An application demonstrating network adaptive streaming capabilities of Gæguli.

Package: gaeguli-tools
Architecture: any
Section: utils
Depends:
 libgaeguli2 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Ultra-low latency SRT streamer
 Gæguli is an SRT streamer designed for edge devices that require
 strong security and ultra-low latency.

Package: libgaeguli-dev
Section: libdevel
Architecture: any
Depends:
 libgaeguli2 (= ${binary:Version}),
 libgstreamer-plugins-bad1.0-dev,
 libsrt-dev (>= 1.4.1~) | libsrt-gnutls-dev | libsrt-openssl-dev,
 ${misc:Depends},
Description: Ultra-low latency SRT streamer
 Gæguli is an SRT streamer designed for edge devices that require
 strong security and ultra-low latency.
 .
 This package contains development files for gaeguli.

Package: libgaeguli2
Architecture: any
Depends:
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-good,
 gstreamer1.0-plugins-ugly,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Ultra-low latency SRT streamer
 Gæguli is an SRT streamer designed for edge devices that require
 strong security and ultra-low latency.

Package: libgaeguli-test-common2
Architecture: any
Depends:
 libgaeguli2 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Gaeguli test library
 A library of ancillary methods for writing tests that involve Gaeguli.

Package: libgaeguli-test-common-dev
Section: libdevel
Architecture: any
Depends:
 libgaeguli-test-common2 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Gaeguli test library (development files)
 A library of ancillary methods for writing tests that involve Gaeguli.
 .
 This package contains development files for the library.
